<div class="container">
    <div class="row">
       <form >
        
                <h4>Appointment</h4>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">AppointmentID</label>
                    <input type="text" id="disabledTextInput" formControlName="AppointmentID" class="form-control" ngModel
                      >
                      <!-- <div *ngIf="add['AppointmentID'].errors"> 

                      </div> -->
                      

                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">AppointmentDate</label>

                    <input type="date" id="disabledTextInput" formControlName="AppointmentDate"
                        class="form-control" min="2023-03-02" max="2023-03-31" ngModel > 
                       
                   

                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">AppointmentTime</label>
                    <input type="time" id="disabledTextInput" formControlName="AppointmentTime" class="form-control" ngModel>
                   

                </div>


                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">DoctorName</label>
                    <select class="form-select" formControlName="DoctorName" ngModel>
                        <option  selected>--Select Doctor--</option>
                    
                    </select> 
                  



                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Department</label>
                    <select class="form-select" formControlName="Department" ngModel>
                        <option  selected>--Select Department--</option>
                         <!-- <option *ngFor="let department of DataAppointments">{{department.Department}} </option> -->
                        </select> 
                       
                    
                   
                </div>
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">PetOwnerName</label>
                    <input type="text" id="disabledTextInput" formControlName="PetOwnerName" class="form-control" ngModel
                      >
                      

                </div>

                 <button type="submit" class="btn btn-primary mb-3" >Create</button>    
        </form>
    
</div> 

